nav{
    background-color: #333333;

}

 ul.nav {
    display: flex;
    flex-direction: row;
    /*    gap: 3rem;*/  
    justify-content: space-between;  
    padding: 1.2rem 0;
}
 
ul.nav li a{
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    
}